:root{
    --verdeOscuro: #20464e;
    --amarilloFondo: #ce904c;
    
}

body {
    margin: 0;
    
    background-color: black;
    color: white;
    z-index: relative;
}
.canvas{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
a{
    z-index: 10;  
}
/*
.logo{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    height: 50%;
}

.menu_principal{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 0%;
    padding: 3%;
    border-radius: 15px;
    margin-bottom: 5%;
}

a{
    background-color: var(--amarilloFondo);
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--verdeOscuro);
    cursor: pointer;
    align-content: center;
    border: #20464e ridge 2px;
    font-size: 110%;
  
}
a:hover{
    background-color: #20464e;
    transform: scale(1.10);
    transition: 1s;
    border: #ce904c ridge 2px;
    color: var(--amarilloFondo);  
}

.opcionIndex{
    width: 40%;
    height: 40px;
}

.noPersonaje{
    display: none;
}
*/



/*
.topLobby{
    display: flex;
    align-items: start;
    margin: 3%;
}

.imagenLobby{
    border: 5px ridge;
    width: 33%;
    height: 300px;
    border-radius: 15px;
    border-image: linear-gradient(to right,var(--amarilloFondo), var(--verdeOscuro)) 1;
    margin-right: 5%;
    
}
.conjuntoEstadisticasLobby{
    width: 35%;
    color: var(--amarilloFondo);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.opcionesLobby{
    width: 20%;
    margin-left: 7%;
}

.botonLobby{
    width: 100%;
    height: 50px;
    margin-top: 20%;
    margin-bottom: 20%;
}

.caracteristicasLobby{
    display: block;
    width: 30%;
    margin-top: -15%;
    margin-left: 3%;
    margin-bottom: 3%;
    background-color: var(--verdeOscuro);
    padding: 3%;
    z-index: 2;
}

.botonVolverLobby{
    width: 30%;
    height: 40px;
    margin-left: 3%;
}

.tamanioImagen{
    height: 96%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
}
*/



/*Estilos tienda

.tarjetas{
    display: inline-flex;
    
    
   
}
.tarjetas div{
    border:2px solid white;
    width: 15%;
    padding-left: 8px;
}


html .tienda{
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100vh;
    max-width: 100%;
    right: 0;
    box-sizing: border-box;
}
/* Estilos de arena*/
.arenaElementos{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
    z-index: -1;
}
.arenaImagenes{
    border: brown 3px ridge;
    height: 200px;
    align-content: center;
    width: 20%;
    text-align: center;
    z-index: -1;
}
.botonesArena{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
    text-align: center;   
}
.botonesArenaBlock{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
    text-align: center; 
    z-index: -1;
}


/*Imagenes de la tienda de armas*/
.imagenItem{
    max-width: 100%; --La imagen no será más grande que su contenedor 
    height: auto; -- Mantiene la proporción 
    display: block; --Evita espacios adicionales 
    margin: 0 auto; --Centra la imagen 
    
    
}
*/






/*Eleccion de armas básicas */
#elegir-arma{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}
.div-armas{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 48%;
    min-height: 20%; 
    padding: 10px;
}
.div-armas img {
    width: 100%; /* Se ajusta al tamaño del contenedor */
    max-width: 250px; /* Limita el tamaño máximo */
    aspect-ratio: 1/1; 
    object-fit:contain; 
}

.div-armas label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.div-armas img:hover{
    transform: rotate(15deg) translateY(30px) scale(1.1);
    transition: 1s;
}

.div-armas p{
    border: 2px solid #20464e;
    border-radius: 6px;
    width: 90%; 
    text-align: left; 
    min-height: 40px; 
    display: flex;
    align-items: center;
    justify-content:center;
}

.div-armas p span {
    display: block;
    min-height: 20px;
}
/* Responsividad para pantallas medianas */
@media (max-width: 1024px) {
    .div-armas {
        width: 100%; /* Hace que cada arma ocupe el ancho completo */
    }
}

/* Responsividad para móviles */
@media (max-width: 600px) {
    #elegir-arma {
        flex-direction: column;
        gap: 5px;
    }

    .div-armas img {
        max-width: 200px; /* Reduce el tamaño en móviles */
    }
}


/*h1 de eleccion de arma inicial*/
#titulo-Crea {
    font-size: 36px;
    color: var(--amarilloFondo);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    border-bottom: 3px solid var(--amarilloFondo);
    text-shadow: 3px 3px 5px #c55b19;
    animation: titilar 3s infinite alternate;
}
#creador{
    display: block;
    margin: 10px auto;
}
#nombre label{
    display: block;
    margin: 10px auto;
}

/*h2 de eleccion de arma inicial*/
#titulo-unico {
    font-size: 28px;
    color: var(--amarilloFondo);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    border-bottom: 3px solid var(--amarilloFondo);
    text-shadow: 3px 3px 5px #c55b19;
    animation: titilar 3s infinite alternate;
}

/*h3 de eleccion de arma inicial*/
.subtitulo-especial {
    font-size: 24px;
    color: #008080; 
    font-weight: bold;
    text-align: center;
    padding: 8px;
    margin: 15px 0;
    background: linear-gradient(135deg, var(--verdeOscuro), #2a6e7b); 
    color: #ce904c;
    border-left: 5px solid var(--verdeOscuro);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

/*Hacer invisible la input*/
input[type="radio"] {
    opacity: 0; /* Hace que el radio sea invisible */
    position: absolute; /* Lo saca del flujo normal */
    width: 0;
    height: 0;
}

form div:last-child {
    text-align: center;
}

button {
    display: inline-block;
    margin: 10px;
}

#imagen-elegir {
    display: block;
    margin: 10px auto;
   
}
#nombre {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Ajusta la altura si es necesario */
}




/*
--Victoria o derrota
.victoria{
    margin-top: -26%;
    background-color: rgba(32, 70, 78, 0.3);
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    display: none;
    border-radius: 10%;
}
.derrota{
    margin-top: -26%;
    background-color: rgba(206, 144, 76, 0.3);
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    display: none;
    border-radius: 10%;
    z-index: 1000;
}
.botonFinPartida{
    background-color: var(--amarilloFondo);
    border-radius: 15px;
    display: none;
    text-align: center;
    text-decoration: none;
    color: var(--verdeOscuro);
    cursor: pointer;
    align-content: center;
    border: #20464e ridge 2px;
    font-size: 110%;
    width: 33%;
    height: 40px;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
form div:last-child {
    text-align: center;
}

button {
    display: inline-block;
    margin: 10px;
}

#imagen-elegir {
    display: block;
    margin: 10px auto;
   
}/*
#nombre {
    display: flex;
    justify-content: center;  Centra horizontalmente 
    align-items: center;  Centra verticalmente 
    height: 100px; Ajusta la altura si es necesario 
}*/
form div:last-child {
    text-align: center;
}

button {
    display: inline-block;
    margin: 10px;
}

#imagen-elegir {
    display: block;
    margin: 10px auto;
   
}
#nombre {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Ajusta la altura si es necesario */
}

<<<<<<< HEAD
/* Estilos de arena*/
.arenaElementos{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
    z-index: -1;
}
.arenaImagenes{
    border: brown 3px ridge;
    height: 200px;
    align-content: center;
    width: 20%;
    text-align: center;
    z-index: -1;
}
.botonesArena{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
    text-align: center;   
}
.botonesArenaBlock{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
    text-align: center; 
    z-index: -1;
    
}


/*Imagenes de la tienda de armas*/