:root{
    --verdeOscuro: #20464e;
    --amarilloFondo: #ce904c;
}

body {
    margin: 0;
    
    background-color: black;
    color: white;
    z-index: relative;
}
.canvas{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
a{
    z-index: 10;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    height: 50%;
}

.menu_principal{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 0%;
    padding: 3%;
    border-radius: 15px;
    margin-bottom: 5%;
}

a{
    background-color: var(--amarilloFondo);
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--verdeOscuro);
    cursor: pointer;
    align-content: center;
    border: #20464e ridge 2px;
    font-size: 110%;
  
}
a:hover{
    background-color: #20464e;
    transform: scale(1.10);
    transition: 1s;
    border: #ce904c ridge 2px;
    color: var(--amarilloFondo);
    
}

.opcionIndex{
    width: 40%;
    height: 40px;
}

.noPersonaje{
    display: none;
}

.topLobby{
    display: flex;
    align-items: start;
    margin: 3%;
}

.imagenLobby{
    border: 5px ridge;
    width: 33%;
    height: 300px;
    border-radius: 15px;
    border-image: linear-gradient(to right,var(--amarilloFondo), var(--verdeOscuro)) 1;
    margin-right: 5%;
    
}
.conjuntoEstadisticasLobby{
    width: 35%;
    color: var(--amarilloFondo);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.opcionesLobby{
    width: 20%;
    margin-left: 7%;
}

.botonLobby{
    width: 100%;
    height: 50px;
    margin-top: 20%;
    margin-bottom: 20%;
}

.caracteristicasLobby{
    display: block;
    width: 30%;
    margin-top: -15%;
    margin-left: 3%;
    margin-bottom: 3%;
    background-color: var(--verdeOscuro);
    padding: 3%;
    z-index: 2;
}

.botonVolverLobby{
    width: 30%;
    height: 40px;
    margin-left: 3%;
}

.tamanioImagen{
    height: 96%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
}

.tarjetas{
    display: inline-flex;
    
    
   
}
.tarjetas div{
    border:2px solid white;
    width: 15%;
    padding-left: 8px;
}
html .tienda{
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100vh;
    max-width: 100%;
    right: 0;
    box-sizing: border-box;
}

.arenaElementos{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
}
.arenaImagenes{
    border: brown 3px ridge;
    height: 200px;
    align-content: center;
    width: 20%;
    text-align: center;
}
.botonesArena{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
    text-align: center;


}


.imagenItem{
    height: 140px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    
}

