:root{
    --verdeOscuro: #20464e;
    --amarilloFondo: #ce904c;
    
}

body {
    margin: 0;
    color: var(--amarilloFondo);
    background-color: black;
    color: white;
    z-index: relative;
    background-image: url("../Imagenes/fondos/fondobatalla.jpg");
    
}
.canvas{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
a{
    z-index: 10;
}


/* Estilos de arena*/
.arenaElementos{
    display: flex;
    justify-content: space-around;
    z-index: -1;
    color: var(--amarilloFondo);
    font-size: 150%;
    
}
.arenaImagenes{
    border: var(--amarilloFondo) 5px ridge;
    background: rgba(206, 144, 76, 0.35);
    height: 20%;
    align-content: initial;
    width: 20%;
    text-align: center;
    z-index: 1;
    margin-top: 2%;
}
.botonesArena{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: var(--amarilloFondo);
    font-size: 120%;
    background-color: var(--verdeOscuro);
    border: var(--amarilloFondo) 2px ridge;

}
.botonesArenaBlock{
    display: flex;
    border: white 3px ridge;
    justify-content: space-around;
    text-align: center; 
    z-index: -1;
}


.imagenPersonaje{
    width: 95%;
    z-index: 100;
}
.imagenEnemigo{
    width: 95%;
    z-index: 100;
}

.topArena{
    display: flex;
    align-items: start;
    margin: 3%;
}





/*Victoria o derrota*/
.victoria{
    margin-top: -40%;
    background-color: rgba(32, 70, 78, 0.3);
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    display: none;
    border-radius: 10%;
    border: var(--amarilloFondo) 5px ridge;
}
.derrota{
    margin-top: -40%;
    background-color: rgba(206, 144, 76, 0.3);
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    display: none;
    border-radius: 10%;
    z-index: 1000;
    border: var(--verdeOscuro) 5px ridge;
}
.botonFinPartida{
    background-color: var(--amarilloFondo);
    border-radius: 15px;
    display: none;
    text-align: center;
    text-decoration: none;
    color: var(--verdeOscuro);
    cursor: pointer;
    align-content: center;
    border: #20464e ridge 2px;
    font-size: 110%;
    width: 33%;
    height: 40px;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
form div:last-child {
    text-align: center;
}

button {
    display: inline-block;
    margin: 10px;
}

#imagen-elegir {
    display: block;
    margin: 10px auto;
   
}
#nombre {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Ajusta la altura si es necesario */
}

.tiposPocionesOculto{
    height: 12%;
    width: 30%;
    display: none;
    margin-left: -27%;
    margin-top: -3%; 
}

.tiposPocionesVisto{
    height: 35%;
    width: 35%;
    display: flex;
    margin-left: -27%;
    margin-top: -6%; 
    
    
}

.botonesPociones{
    width: 100%;
    height: 100%;
    
    
}
/*Boton de audio*/
#boton-musica{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:20px;
    right:20px;
    border: 2px solid rgba(255, 217, 0, 0.205);
    background-color: #08080828;
  }
  /*Botón de silencio*/
  #silenciar-botones{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:20px;
    right:80px;
    border: 2px solid rgba(255, 217, 0, 0.205);
    background-color: #08080828;
  }

  #personajeBarraVida[value]::-webkit-progress-value{
    background-color: #4cac42;
    border-radius: 15px;
  }
  #personajeBarraVida[value]::-webkit-progress-bar{
    background-color: #00a68a88;
    border-radius: 15px;
  }

  #enemigoBarraVida[value]::-webkit-progress-value{
    background-color: #247e1a;
    border-radius: 15px;
  }
  #enemigoBarraVida[value]::-webkit-progress-bar{
    background-color: #be5e3d88;
    border-radius: 15px;
  }
