:root{
    --verdeOscuro: #20464e;
    --amarilloFondo: #ce904c;
    
}

*{
    cursor: inherit;
}
html{
    cursor: url("../Imagenes/cursores/cursor1.svg") 16 16,auto;
}

body {
    margin: 0;
    cursor: url("../Imagenes/cursores/cursor1.svg") 16 16,auto;
    background-color: black;
    color: white;
    z-index: relative;
}
.canvas{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
a{
    z-index: 10;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    height: 50%;
}

.menu_principal{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 0%;
    padding: 3%;
    border-radius: 15px;
    margin-bottom: 5%;
}

a{
    background-color: var(--amarilloFondo);
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--verdeOscuro);
    align-content: center;
    border: #20464e ridge 2px;
    font-size: 110%;
  
}
a:hover{
    background-color: #20464e;
    transform: scale(1.10);
    transition: 1s;
    border: #ce904c ridge 2px;
    color: var(--amarilloFondo);  
}

.opcionIndex{
    width: 40%;
    height: 40px;
}

.noPersonaje{
    display: none;
}

/*Boton de audio*/
#boton-sonido{
    position: fixed;
    top:20px;
    right:20px;
    border: 2px solid rgba(255, 217, 0, 0.205);
    font-size: 30px;
    background-color: #08080828;
}
