:root{
    --verdeOscuro: #20464e;
    --amarilloFondo: #ce904c;
    
}
*{
    cursor: inherit;
  }
  html{
    cursor: url("../Imagenes/cursores/cursor1.svg") 16 16,auto;
  }
body {
    margin: 0;
    cursor: url("../Imagenes/cursores/cursor1.svg") 16 16,auto;
    background-color: black;
    color: white;
    z-index: relative;
    background-image: url("../Imagenes/fondos/lobby.jpg");
    background-size: cover;
    background-position: center;
   
}
.canvas{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
a{
    z-index: 10;
}


.topLobby{
    display: flex;
    align-items: start;
    margin: 3%;
}

.imagenLobby{
    border: 5px ridge;
    width: 33%;
    height: 300px;
    border-radius: 15px;
    border-image: linear-gradient(to right,var(--amarilloFondo), var(--verdeOscuro)) 1;
    margin-right: 5%;
    background: rgba(206, 144, 76, 0.20);
    overflow:hidden ;
    
    
}
.conjuntoEstadisticasLobby{
    width: 35%;
    color: var(--amarilloFondo);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.opcionesLobby{
    width: 20%;
    margin-left: 7%;
}

.botonLobby{
    width: 100%;
    height: 50px;
    margin-top: 20%;
    margin-bottom: 20%;
}

.caracteristicasLobby{
    display: block;
    width: 25.5%;
    margin-top: -17%;
    margin-left: 3%;
    margin-bottom: 3%;
    background-color: rgba(32, 70, 78, 0.7);
    padding: 3%;
    z-index: 2;
    border-radius: 15px;
    color: var(--amarilloFondo);
    border: var(--amarilloFondo) 2px ridge;
}

.botonVolverLobby{
   
    width: 20%;
    height: 32px;
    margin-left: 3%;
}

.tamanioImagen {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
    max-height: 100%;
    object-fit: contain;
}

a{
    background-color: var(--amarilloFondo);
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--verdeOscuro);
    align-content: center;
    border: #20464e ridge 2px;
    font-size: 110%;
  
}
a:hover{
    background-color: #20464e;
    transform: scale(1.10);
    transition: 1s;
    border: #ce904c ridge 2px;
    color: var(--amarilloFondo);  
}
/*Boton de audio*/
#boton-musica{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:20px;
    right:20px;
    border: 2px solid rgba(255, 217, 0, 0.205);
    background-color: #08080828;
  }
  /*Botón de silencio*/
  #silenciar-botones{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:20px;
    right:80px;
    border: 2px solid rgba(255, 217, 0, 0.205);
    background-color: #08080828;
  }
  /*Personalización de barras de progress*/
  progress[value]{
    appearance: none;/*Quitamos valores predeterminados los valores*/
    box-shadow: 1px 0px 7px 1px rgba(245, 238, 136, 0.637);
    border-radius: 10px;
    transition: width 2s ease;
    width: 25%;
  }
  #barra-vida[value]::-webkit-progress-value{
    background-color: #1e331b;
    border-radius: 15px;
    
  }
  #barra-vida[value]::-webkit-progress-bar{
    background-color: #334b30e5;
    border-radius: 15px;
  }
  #barra-mana[value]::-webkit-progress-value{
    background-color: rgb(18, 18, 92);
    border-radius: 15px;
  }
  #barra-mana[value]::-webkit-progress-bar{
    background-color: rgb(53, 68, 97);
    border-radius: 15px;
  }
  #barra-danio[value]::-webkit-progress-value{
    background-color: rgb(48, 9, 17);
    border-radius: 15px;
  }
  #barra-danio[value]::-webkit-progress-bar{
    border-radius: 15px;
  }
  #barra-armadura[value]::-webkit-progress-value{
    background-color: rgb(48, 17, 3);
    border-radius: 15px;
  }
  #barra-armadura[value]::-webkit-progress-bar{
    border-radius: 15px;
  }#barra-resistencia[value]::-webkit-progress-value{
    background-color: rgb(31, 2, 31);
    border-radius: 15px;
  }
  #barra-resistencia[value]::-webkit-progress-bar{
    border-radius: 15px;
  }
  #barra-experiencia[value]::-webkit-progress-value{
    background-color: rgb(213, 223, 74);
    border-radius: 15px;
  }
  #barra-experiencia[value]::-webkit-progress-bar{
    background-color: rgba(194, 206, 35, 0.377);
    border-radius: 15px;
  }
  #barra-experiencia{
    box-shadow: 1px 0px 7px 1px rgba(245, 238, 136, 0.637);
    border-radius: 10px;
  }

